:root {
  --hue: 0;
  --dark1: hsl(var(--hue), 100%, 20%);
  --mid1: hsl(var(--hue), 50%, 50%);
  --light1: hsl(var(--hue), 100%, 80%);
  --dark2: hsl(var(--hue), 100%, 10%);
  --light2: hsl(var(--hue), 100%, 90%);
}

body, header {
  transition: 1.5s;
}

body {
  margin: 0;
  background-color: var(--mid1);
  text-align: center;
}

header {
  padding: 0.5em 1em;
  height: 10vh;
  box-sizing: border-box;
  z-index: 10;
  color: var(--light2);
  background-color: var(--dark2);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 1.2em;
}

header div {
  display: flex;
  justify-content: space-between;
}

header button {
  white-space: nowrap;
  width: 100%;
  color: var(--dark2);
  background-color: var(--light2);
  border: 1px solid var(--dark2);
  box-sizing: border-box;
}

article {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 800px;
  top: 150vh;
  padding: 2em;
  height: 15vh;
  box-sizing: border-box;
  transition: .75s;
  font-family: monospace;
  font-size: 1.5em;
  animation: fadeIn 2s;
}


/* alternating colours */
article:nth-child(1n) {
  color: var(--light1);
  background-color: var(--dark1);
}
article:nth-child(2n+1) {
  background-color: var(--light1);
  color: var(--dark1);
}

/* positions are determined absolutely */
/* Each visible one has a slightly different transition delay */

/* this one is hidden behind the header */
article:nth-child(1) {
  z-index: -5;
  transition-delay: 0;
  top: -5vh;
}

/* these are the visible ones */
article:nth-child(2) {
  transition-delay: 0.1s;
  top: 10vh;
}
article:nth-child(3) {
  transition-delay: 0.2s;
  top: 25vh;
}
article:nth-child(4) {
  transition-delay: 0.3s;
  top: 40vh;
}
article:nth-child(5) {
  transition-delay: 0.4s;
  top: 55vh;
}
article:nth-child(6) {
  transition-delay: 0.5s;
  top: 70vh;
}
article:nth-child(7) {
  transition-delay: 0.6s;
  top: 85vh;
}

/* this one is below the bottom of the screen */
article:nth-child(8) {
  top: 100vh;
}

#modal {
  z-index: 10;
  position: absolute;
  left:0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(var(--hue), 100%, 10%, 0.8);
  color: var(--dark1);
  padding: 1em;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
}

#modal.visible {
  display: flex;
}

#modalContent {
  font-size: 2em;
  background-color: hsla(var(--hue), 100%, 90%, 0.8);
  padding: 1em;
  border-radius: 0.2em;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--light1);
  background-color: var(--dark1);
  font-size: 2em;
  padding: 1em;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media screen and (min-width: 500px) {
  header {
    flex-direction: row;
  }
  header div {
    align-items: flex-start;
  }
  #modalContent {
    font-size: 3em;
  }
  article {
    font-size: 1.8em;
  }
}
